.stamen-ecoengine {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  width: 100%;
  height: 100%;
  background: #fff;
  margin: 0;
  min-width: 800px;
  line-height: 1.3em;
}

.stamen-ecoengine a {
  color: #317eac;
  text-decoration: none;
}

.stamen-ecoengine .dark a {
  color: #82badb;
}

.stamen-ecoengine .small-note {
  font-size: 10px;
  line-height: 12px;
  font-style: italic;
  margin: 4px;
}

.stamen-ecoengine a:hover {
  text-decoration: underline;
}

.stamen-ecoengine p {
  margin: 12px 0;
}

.stamen-ecoengine input.error {
  display: inline-block;
}

.stamen-ecoengine #map {
  margin: 40px 0 0 24%;
  position: relative;
  width: 76%;
  height: 480px;
}

.stamen-ecoengine .zoom-reset {
    position: relative;
}

.stamen-ecoengine .zoom-reset:after {
    content: ' ';
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    font-size: 14px;
    width: 16px;
    height: 16px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAnElEQVR4AY3RsW0CMRSA4Y/0SXGNN2AEJEoWuLTUuKKhRWIRb2EpWYABrJNuiasPOR2N00dCzjfA03vv93+jpKiKZPRHkK2ejpqjp1UWAAgWN3cRDdHdzSIAZBd7E2hgsneRYWP05ZVP3yQnzHaggZ0ZJwmKLR4G0MDgga3CRvXulR8f3Qm9HfpXdP/whrOrgyoCourg6ky/Rb/mL8ILRiXYagrrAAAAAElFTkSuQmCC958a6c25d16fbb8d6a05fc04a1d3aeff');
}

.stamen-ecoengine .leaflet-popup {
  z-index: 200;
}

.stamen-ecoengine .leaflet-popup img {
  max-width: 130px;
  max-height: 130px;
}

.stamen-ecoengine .wrap {
  margin: 8px 0 0 8px;
}

.stamen-ecoengine .header {
  color: #fff;
  background: #317eac;
  border-bottom: 1px solid #114e7c;
  padding: 8px;
  position: absolute;
  top: 0;
  min-height: 38px;
  min-width: 800px;
  width: 100%;
  z-index: 2000;
  line-height: 24px;
}

.stamen-ecoengine .header a {
  color: #fff;
  text-decoration: none;
}

.stamen-ecoengine .header a:hover {
  text-decoration: underline;
}

.stamen-ecoengine h2.app-title {
  margin: 0 12px 0 0;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.stamen-ecoengine .header .eco-param {
  text-align: center;
  border-radius: 2px;
}

.stamen-ecoengine .eco-param,
.stamen-ecoengine .eco-param2 {
  line-height: 15px;
  height: 22px;
  font-weight: bold;
  padding: 2px;
  color: #303030;
  border: 1px solid #666;
  border-radius: 2px;
}

.stamen-ecoengine #searchterm { 
  width: 120px;
}

.stamen-ecoengine .eco-param::-webkit-input-placeholder,
.stamen-ecoengine .eco-param::-webkit-input-placeholder { /* WebKit browsers */
  color:    #bbb;
  font-weight: normal;
  font-size: 11px;
}
.stamen-ecoengine .eco-param:-moz-placeholder,
.stamen-ecoengine .eco-param2:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #bbb;
  font-weight: normal;
  font-size: 11px;
  opacity:  1;
}
.stamen-ecoengine .eco-param::-moz-placeholder,
.stamen-ecoengine .eco-param2::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #bbb;
  font-size: 11px;
  font-weight: normal;
  opacity:  1;
}
.stamen-ecoengine .eco-param:-ms-input-placeholder,
.stamen-ecoengine .eco-param2:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #bbb;
  font-weight: normal;
  font-size: 11px;
}

.stamen-ecoengine h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.stamen-ecoengine #export-pane h4 {
  margin-top: 8px;
}

.stamen-ecoengine .search-btn {
  background: #317eac;
  color: #fff;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
}

.stamen-ecoengine .header .search-btn {
  color: #317eac;
  background: #fff;
}

.stamen-ecoengine .search-btn:hover {
  color: #fff;
  background: #0a0;
}

.stamen-ecoengine .flydown h4 {
  margin-bottom: 8px;
}

.stamen-ecoengine .hide-btn {
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: 12px;
  right: 24px;
}

.stamen-ecoengine #minyear,
.stamen-ecoengine #maxyear {
  width: 90px;
  text-align: center;
}

.stamen-ecoengine .export-buttons {
}

.stamen-ecoengine .flydown {
  background: #fff;
  border-bottom: 1px solid #114e7c;
  position: absolute;
  top: 0; 
  bottom: 0;
  height: 100%; 
  width: 100%;
  z-index: 2000;
  padding: 8px;
  overflow: auto;
  display: none;
  margin-top: 38px;
}

.stamen-ecoengine .flydown .field td {
  padding: 4px 8px;
}


/* Time Slider */
.stamen-ecoengine svg {
  font-size: 8px;
  fill: #fff;
}

.stamen-ecoengine .axis path,
.stamen-ecoengine .axis line {
  fill: none;
  stroke: #abd;
}

.stamen-ecoengine .brush .extent {
  stroke: none;
  fill: #fff;
  fill-opacity: .2;
  shape-rendering: crispEdges;
}

.stamen-ecoengine .brush .resize rect {
  fill: #fff;
  fill-opacity: 0.85;
}

.stamen-ecoengine #time-slider {
  display: inline-block;
  background: #114e7c;
  border-radius: 2px;
}

.stamen-ecoengine #time-slider svg {
  margin-bottom: -10px;
}

.stamen-ecoengine .export-buttons {
  line-height: 1.5em;
  padding: 0 0 4px;
  margin: 8px 0 4px;
  border-bottom: 1px dashed #d0d0d0;
}

.stamen-ecoengine .paging {
  line-height: 1.5em;
  margin: 0 0 8px;
}

.stamen-ecoengine .pagination {
  margin: 0;
}

.stamen-ecoengine .pagination span {
  margin-right: 7px;
  cursor: pointer;
  padding: 1px 3px;
  color: #317eac;
}
.stamen-ecoengine .pagination span:hover {
  text-decoration: underline;
}
.stamen-ecoengine .pagination span.active {
  background: #317eac;
  color: #fff;
  border-radius: 2px;
  padding: 1px 6px;
  cursor: default;
}

.stamen-ecoengine .panel {
  background: transparent;
  border: none;
  position: relative;
  padding: 0;
  vertical-align: top;
  margin: 0;
  box-shadow: none;
}
.stamen-ecoengine .panel.left {
  width: 24%;
  float: left;
}
.stamen-ecoengine .panel.right {
  margin-left: 24%;
}
.stamen-ecoengine .panel:last-child {
  margin-right: 0;
}
.stamen-ecoengine #facets {
  position: absolute;
  top: 40px;
  background: white;
  padding: 8px;
}

/* MAP */
.stamen-ecoengine .map-area {
  height: 480px;
  line-height: 1.3em;
}

.stamen-ecoengine #details {
  visibility: hidden; /* xxx */
  display: none;
  height: auto;
  width: 24%;
  min-width: 278px;
  height: 480px;
  margin: 0;
  padding: 12px 6px;
  overflow-x: hidden;
  position: absolute;
  background: #222;
  background: rgba(0,0,0,0.6);
  color: #fff;
  z-index: 5; 
  text-align: center;
}

.stamen-ecoengine #detail-view {
  margin-top: 8px;
}
.stamen-ecoengine #details td {
  width: 50%;
}
.stamen-ecoengine #details .key {
  color: #bbb;
  text-align: right;
}
.stamen-ecoengine #details .photo {
  margin: 0 auto;
  display: block;
}

.stamen-ecoengine #detail-view {
  width: 100%;
}

.stamen-ecoengine #detail-view img {
  max-width: 100%;
  max-height: 240px;
  margin-bottom: 8px;
}

.stamen-ecoengine #detail-view .photo {
  margin: 0 auto;
  text-align: center;
}

.stamen-ecoengine .leaflet-popup-pane {
  pointer-events: none;
}

.stamen-ecoengine .layer-selection {
  position: absolute;
  top: 40px;
  right: 0px;
  padding: 0 8px 8px;
  text-align: center;
  z-index: 100;
  width: 176px;
  background: rgba(255,255,255,0.55);
  border-radius: 2px;
}

.stamen-ecoengine .layer-selection select {
  max-width: 160px;
}

.stamen-ecoengine #bbox-select {
  font-weight: bold;
  margin: 12px 0;
  padding: 2px 12px;
  background: rgba(255,255,255,0.8);
  cursor: pointer;
  border-radius: 2px;
  background: #ddd;
  background: rgba(100,100,100,0.1);
}

.stamen-ecoengine #bbox-select:hover {
  color: #fff;
  background: #0a0;
}

.stamen-ecoengine .map-info {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 90%;
  height: auto;
  background: #fff;
  background: rgba(255,255,255,0.8);
  z-index: 1001;
}
.stamen-ecoengine .map-info.visible {
  display: block;
}

.stamen-ecoengine .map-info-close {
  position: absolute;
  top: 1px;
  right: 5px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  font-weight: normal;
  font-size: 10px;
  text-transform: uppercase;
  color: #aaa;
  cursor: pointer;
}

.stamen-ecoengine .map-info-content {
  padding: 10px 30px 10px 10px;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  color: #333;
}

.stamen-ecoengine .eco-basic-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #317eac;
  background: rgba(49,126,172,1);
  border: 1px solid #fff;
}

.stamen-ecoengine .leaflet-marker-icon.eco-basic-icon {
  opacity: 0.5;
}

.stamen-ecoengine .leaflet-marker-icon.eco-basic-icon:hover {
  opacity: 1;
}

.stamen-ecoengine #detail-type .eco-basic-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.stamen-ecoengine .table .eco-basic-icon {
  display: inline-block;
  position: relative;
  margin-right: 4px;
  top: 2px;
}

.stamen-ecoengine .table .asc-arrow,
.stamen-ecoengine .table .desc-arrow {
  display: none;
}
.stamen-ecoengine .table .ascending .asc-arrow,
.stamen-ecoengine .table .descending .desc-arrow {
  display: inline-block;
}
.stamen-ecoengine .table .ascending {
  cursor: s-resize;
}
.stamen-ecoengine .table th,
.stamen-ecoengine .table .descending {
  cursor: n-resize;
}

.stamen-ecoengine .eco-basic-icon.sensor {
  border-radius: 0px;
  background: #d95f02;
}

.stamen-ecoengine .eco-basic-icon.vtm-vegetation-feature {
  background: #1b9e77;
}

.stamen-ecoengine .eco-basic-icon.plot-survey {
  background: #7570b3;
}

.stamen-ecoengine .eco-basic-icon.photo {
  background: #a6cee3;
}

.stamen-ecoengine .eco-basic-icon.media-photo {
  border-radius: 1px;
  background: #a6cee3;
}

.stamen-ecoengine .eco-basic-icon.specimen {
  background: #317eac;
}

.stamen-ecoengine .eco-basic-icon.fossil {
  background: #a7871d;
}

.stamen-ecoengine .eco-basic-icon.observation {
  background: #1f78b4;
}

.stamen-ecoengine .eco-basic-icon.checklist {
  background: #666666;
}


/*
.eco-basic-icon:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(0,0,0,0.2);
    margin-left: -3px;
    margin-top: -3px;
    z-index: 0;
}
*/

.stamen-ecoengine .eco-photo-icon {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: rgba(255,0,0,0.3);
}

.stamen-ecoengine .blocker {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  margin: 0;
  padding: 0;
  display: none;
}
.stamen-ecoengine .loading .blocker {
  display: block;
}

.stamen-ecoengine .loading-msg {
  margin: 8px 0;
  line-height: 2em;
  padding: 0 8px;
}

.stamen-ecoengine #results table {
  font-size: 12px;
}

.stamen-ecoengine #results table td,
.stamen-ecoengine #results table th {
  padding: 2px 4px;
}
.stamen-ecoengine #results table th {
  border-bottom: 1px solid #d0d0d0;
}
.stamen-ecoengine .listing {
  border-bottom: 1px solid #f0f0f0;
}
.stamen-ecoengine .zebra {
  background: #fff;
}

.stamen-ecoengine table .active {
  background: #feb;
}

.stamen-ecoengine .field-plot {
  line-height: 14px;
  cursor: pointer;
  margin-right: 8px;
}
.stamen-ecoengine .bar-group {
  max-height: 140px;
  overflow-y: auto;
}
.stamen-ecoengine .bars {
  line-height: 13px;
  font-size: 12px;
  padding-top: 1px;
}
.stamen-ecoengine .bars .alert {
  padding: 12px 0;
  margin: 0;
}
.stamen-ecoengine .bars .alert:hover {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.stamen-ecoengine .bars .count {
  color: #bbb;
}
.stamen-ecoengine .field-plot span {
  text-decoration: none;
  padding-right: 4px;
}
.stamen-ecoengine .field-plot span {
  color: #222;
}
.stamen-ecoengine .field-plot .active {
  font-weight: bold;
  background: #eee;
}
.stamen-ecoengine .field-plot .active .bar {
  background: #0a0;
}
.stamen-ecoengine .field-plot .x {
  display: none;
  color: #ee4e32;
  font-weight: bold;
}
.stamen-ecoengine .field-plot .active:hover .x {
  display: inline;
}
.stamen-ecoengine .field-plot .show-more {
  color: #bbb;
  cursor: pointer;
  font-size: 12px;
  line-height: 15px;
  display: block;
  width: 100%;
  text-align: center;
}
.stamen-ecoengine .field-plot .show-more:hover {
  color: #333;
}
.stamen-ecoengine .bar {
  display: inline-block;
  margin: 0 8px -1px;
  background: #317eac;
}
.stamen-ecoengine h3 {
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
  margin: 10px 0 4px 0;
}
.stamen-ecoengine .cursor {
  cursor: pointer;
}

