.stamen-ecoengine {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  width: 100%;
  height: 100%;
  background: #fff;
  margin: 0;
  min-width: 800px;
  line-height: 1.3em;
}

.stamen-ecoengine a {
  color: #00B5E2;
  text-decoration: none;
}

.stamen-ecoengine .dark a {
  color: #82badb;
}

.stamen-ecoengine .small-note {
  font-size: 10px;
  line-height: 12px;
  font-style: italic;
  margin: 4px;
}

.stamen-ecoengine a:hover {
  text-decoration: underline;
}

.stamen-ecoengine p {
  margin: 12px 0;
}

.stamen-ecoengine input.error {
  display: inline-block;
}

.stamen-ecoengine #map {
  margin: 40px 0 0 24%;
  position: relative;
  width: 78.7%;
  height: 480px;
}

.stamen-ecoengine .zoom-reset {
    position: relative;
}

.stamen-ecoengine .zoom-reset:after {
    content: ' ';
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: center;
    font-size: 14px;
    width: 16px;
    height: 16px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAnElEQVR4AY3RsW0CMRSA4Y/0SXGNN2AEJEoWuLTUuKKhRWIRb2EpWYABrJNuiasPOR2N00dCzjfA03vv93+jpKiKZPRHkK2ejpqjp1UWAAgWN3cRDdHdzSIAZBd7E2hgsneRYWP05ZVP3yQnzHaggZ0ZJwmKLR4G0MDgga3CRvXulR8f3Qm9HfpXdP/whrOrgyoCourg6ky/Rb/mL8ILRiXYagrrAAAAAElFTkSuQmCC958a6c25d16fbb8d6a05fc04a1d3aeff');
}

.stamen-ecoengine .leaflet-popup {
  z-index: 200;
}

.stamen-ecoengine .leaflet-popup img {
  max-width: 130px;
  max-height: 130px;
}

.stamen-ecoengine .wrap {
  margin: 8px 0 0 8px;
}

.stamen-ecoengine .header {
  padding: 8px;
  position: absolute;
  top: 0;
  min-height: 38px;
  min-width: 800px;
  width: 100%;
  z-index: 2000;
  line-height: 24px;
  color: #000;
  background-color: #efefef;
  border-bottom: 1px solid #efefef;
}

.stamen-ecoengine .header a {
  color: #000;
  text-decoration: none;
}

.stamen-ecoengine .header a:hover {
  text-decoration: underline;
}

.stamen-ecoengine h2.app-title {
  margin: 0 12px 0 0;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.stamen-ecoengine .header .eco-param {
  text-align: center;
  border-radius: 2px;
}

.stamen-ecoengine .eco-param,
.stamen-ecoengine .eco-param2 {
  line-height: 15px;
  height: 22px;
  font-weight: bold;
  padding: 2px;
  color: #303030;
  border: 1px solid #666;
  border-radius: 2px;
}

.stamen-ecoengine #searchterm {
  width: 120px;
}

.stamen-ecoengine .eco-param::-webkit-input-placeholder,
.stamen-ecoengine .eco-param::-webkit-input-placeholder { /* WebKit browsers */
  color:    #bbb;
  font-weight: normal;
  font-size: 11px;
}
.stamen-ecoengine .eco-param:-moz-placeholder,
.stamen-ecoengine .eco-param2:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #bbb;
  font-weight: normal;
  font-size: 11px;
  opacity:  1;
}
.stamen-ecoengine .eco-param::-moz-placeholder,
.stamen-ecoengine .eco-param2::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #bbb;
  font-size: 11px;
  font-weight: normal;
  opacity:  1;
}
.stamen-ecoengine .eco-param:-ms-input-placeholder,
.stamen-ecoengine .eco-param2:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #bbb;
  font-weight: normal;
  font-size: 11px;
}

.stamen-ecoengine h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.stamen-ecoengine #export-pane h4 {
  margin-top: 8px;
}

.stamen-ecoengine .search-btn {
  background: #00B5E2;
  color: #fff;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
}

.stamen-ecoengine .header .search-btn {
  color: #00B5E2;
  background: #fff;
}

.stamen-ecoengine .search-btn:hover {
  color: #fff;
  background: #0a0;
}

.stamen-ecoengine .flydown h4 {
  margin-bottom: 8px;
}

.stamen-ecoengine .hide-btn {
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  top: 12px;
  right: 24px;
}

.stamen-ecoengine #minyear,
.stamen-ecoengine #maxyear {
  width: 90px;
  text-align: center;
}

.stamen-ecoengine .export-buttons {
}

.stamen-ecoengine .flydown {
  background: #fff;
  border-bottom: 1px solid #114e7c;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
  padding: 8px;
  overflow: auto;
  display: none;
  margin-top: 38px;
}

.stamen-ecoengine .flydown .field td {
  padding: 4px 8px;
}


/* Time Slider */
.stamen-ecoengine svg {
  font-size: 8px;
  fill: #fff;
}

.stamen-ecoengine .axis path,
.stamen-ecoengine .axis line {
  fill: none;
  stroke: #000;
}

.stamen-ecoengine .brush .extent {
  stroke: none;
  fill: #fff;
  fill-opacity: .2;
  shape-rendering: crispEdges;
}

.stamen-ecoengine .brush .resize rect {
  fill: #fff;
  fill-opacity: 0.85;
}

.stamen-ecoengine #time-slider {
  display: inline-block;
  background: #CDD2D4;
  border-radius: 2px;
}

.stamen-ecoengine #time-slider svg {
  margin-bottom: -10px;
}

.stamen-ecoengine .export-buttons {
  line-height: 1.5em;
  padding: 0 0 4px;
  margin: 8px 0 4px;
  border-bottom: 1px dashed #d0d0d0;
}

.stamen-ecoengine .paging {
  line-height: 1.5em;
  margin: 0 0 8px;
}

.stamen-ecoengine .pagination {
  margin: 0;
}

.stamen-ecoengine .pagination span {
  margin-right: 7px;
  cursor: pointer;
  padding: 1px 3px;
  color: #00B5E2;
}
.stamen-ecoengine .pagination span:hover {
  text-decoration: underline;
}
.stamen-ecoengine .pagination span.active {
  background: #00B5E2;
  color: #fff;
  border-radius: 2px;
  padding: 1px 6px;
  cursor: default;
}

.stamen-ecoengine .panel {
  background: transparent;
  border: none;
  position: relative;
  padding: 0;
  vertical-align: top;
  margin: 0;
  box-shadow: none;
}
.stamen-ecoengine .panel.left {
  width: 24%;
  float: left;
}
.stamen-ecoengine .panel.right {
  margin-left: 24%;
}
.stamen-ecoengine .panel:last-child {
  margin-right: 0;
  margin-top: -140px;
}
.stamen-ecoengine #facets {
  position: absolute;
  top: 40px;
  background: white;
  padding: 8px;
}

/* MAP */
.stamen-ecoengine .map-area {
  height: 624px;
  line-height: 1.3em;
}

.stamen-ecoengine #details {
  visibility: hidden; /* xxx */
  display: none;
  height: auto;
  width: 24%;
  min-width: 278px;
  height: 480px;
  margin: 0;
  padding: 12px 6px;
  overflow-x: hidden;
  position: absolute;
  background: #222;
  background: rgba(0,0,0,0.6);
  color: #fff;
  z-index: 5;
  text-align: center;
}

.stamen-ecoengine #detail-view {
  margin-top: 8px;
}
.stamen-ecoengine #details td {
  width: 50%;
}
.stamen-ecoengine #details .key {
  color: #bbb;
  text-align: right;
}
.stamen-ecoengine #details .photo {
  margin: 0 auto;
  display: block;
}

.stamen-ecoengine #detail-view {
  width: 100%;
}

.stamen-ecoengine #detail-view img {
  max-width: 100%;
  max-height: 240px;
  margin-bottom: 8px;
}

.stamen-ecoengine #detail-view .photo {
  margin: 0 auto;
  text-align: center;
}

.stamen-ecoengine .leaflet-popup-pane {
  pointer-events: none;
}

.stamen-ecoengine .layer-selection {
  position: absolute;
  top: 40px;
  right: 0px;
  padding: 0 8px 8px;
  text-align: center;
  z-index: 100;
  width: 176px;
  background: rgba(255,255,255,0.55);
  border-radius: 2px;
}

.stamen-ecoengine .layer-selection select {
  max-width: 160px;
}

.stamen-ecoengine #bbox-select {
  font-weight: bold;
  margin: 12px 0;
  padding: 2px 12px;
  background: rgba(255,255,255,0.8);
  cursor: pointer;
  border-radius: 2px;
  background: #ddd;
  background: rgba(100,100,100,0.1);
}

.stamen-ecoengine #bbox-select:hover {
  color: #fff;
  background: #0a0;
}

.stamen-ecoengine .map-info {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 90%;
  height: auto;
  background: #fff;
  background: rgba(255,255,255,0.8);
  z-index: 1001;
}
.stamen-ecoengine .map-info.visible {
  display: block;
}

.stamen-ecoengine .map-info-close {
  position: absolute;
  top: 1px;
  right: 5px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  font-weight: normal;
  font-size: 10px;
  text-transform: uppercase;
  color: #aaa;
  cursor: pointer;
}

.stamen-ecoengine .map-info-content {
  padding: 10px 30px 10px 10px;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  color: #333;
}

.stamen-ecoengine .eco-basic-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #00B5E2;
  background: rgba(49,126,172,1);
  border: 1px solid #fff;
}

.stamen-ecoengine .leaflet-marker-icon.eco-basic-icon {
  opacity: 0.5;
}

.stamen-ecoengine .leaflet-marker-icon.eco-basic-icon:hover {
  opacity: 1;
}

.stamen-ecoengine #detail-type .eco-basic-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.stamen-ecoengine .table .eco-basic-icon {
  display: inline-block;
  position: relative;
  margin-right: 4px;
  top: 2px;
}

.stamen-ecoengine .table .asc-arrow,
.stamen-ecoengine .table .desc-arrow {
  display: none;
}
.stamen-ecoengine .table .ascending .asc-arrow,
.stamen-ecoengine .table .descending .desc-arrow {
  display: inline-block;
}
.stamen-ecoengine .table .ascending {
  cursor: s-resize;
}
.stamen-ecoengine .table th,
.stamen-ecoengine .table .descending {
  cursor: n-resize;
}

.stamen-ecoengine .eco-basic-icon.sensor {
  border-radius: 0px;
  background: #d95f02;
}

.stamen-ecoengine .eco-basic-icon.vtm-vegetation-feature {
  background: #1b9e77;
}

.stamen-ecoengine .eco-basic-icon.plot-survey {
  background: #7570b3;
}

.stamen-ecoengine .eco-basic-icon.photo {
  background: #a6cee3;
}

.stamen-ecoengine .eco-basic-icon.media-photo {
  border-radius: 1px;
  background: #a6cee3;
}

.stamen-ecoengine .eco-basic-icon.specimen {
  background: #00B5E2;
}

.stamen-ecoengine .eco-basic-icon.fossil {
  background: #a7871d;
}

.stamen-ecoengine .eco-basic-icon.observation {
  background: #1f78b4;
}

.stamen-ecoengine .eco-basic-icon.checklist {
  background: #666666;
}


/*
.eco-basic-icon:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(0,0,0,0.2);
    margin-left: -3px;
    margin-top: -3px;
    z-index: 0;
}
*/

.stamen-ecoengine .eco-photo-icon {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: rgba(255,0,0,0.3);
}

.stamen-ecoengine .blocker {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  margin: 0;
  padding: 0;
  display: none;
}
.stamen-ecoengine .loading .blocker {
  display: block;
}

.stamen-ecoengine .loading-msg {
  margin: 8px 0;
  line-height: 2em;
  padding: 0 8px;
}

.stamen-ecoengine #results table {
  font-size: 12px;
}

.stamen-ecoengine #results table td,
.stamen-ecoengine #results table th {
  padding: 2px 4px;
}
.stamen-ecoengine #results table th {
  border-bottom: 1px solid #d0d0d0;
}
.stamen-ecoengine .listing {
  border-bottom: 1px solid #f0f0f0;
}
.stamen-ecoengine .zebra {
  background: #fff;
}

.stamen-ecoengine table .active {
  background: #feb;
}

.stamen-ecoengine .field-plot {
  line-height: 14px;
  cursor: pointer;
  margin-right: 8px;
}
.stamen-ecoengine .bar-group {
  max-height: 140px;
  overflow-y: auto;
}
.stamen-ecoengine .bars {
  line-height: 13px;
  font-size: 12px;
  padding-top: 1px;
}
.stamen-ecoengine .bars .alert {
  padding: 12px 0;
  margin: 0;
}
.stamen-ecoengine .bars .alert:hover {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.stamen-ecoengine .bars .count {
  color: #bbb;
}
.stamen-ecoengine .field-plot span {
  text-decoration: none;
  padding-right: 4px;
}
.stamen-ecoengine .field-plot span {
  color: #222;
}
.stamen-ecoengine .field-plot .active {
  font-weight: bold;
  background: #eee;
}
.stamen-ecoengine .field-plot .active .bar {
  background: #0a0;
}
.stamen-ecoengine .field-plot .x {
  display: none;
  color: #ee4e32;
  font-weight: bold;
}
.stamen-ecoengine .field-plot .active:hover .x {
  display: inline;
}
.stamen-ecoengine .field-plot .show-more {
  color: #bbb;
  cursor: pointer;
  font-size: 12px;
  line-height: 15px;
  display: block;
  width: 100%;
  text-align: center;
}
.stamen-ecoengine .field-plot .show-more:hover {
  color: #333;
}
.stamen-ecoengine .bar {
  display: inline-block;
  margin: 0 8px -1px;
  background: #00B5E2;
}
.stamen-ecoengine h3 {
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
  margin: 10px 0 4px 0;
}
.stamen-ecoengine .cursor {
  cursor: pointer;
}

/* SweetAlert */
.sweet-overlay{background-color:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";background-color:rgba(0,0,0,.4);position:fixed;left:0;right:0;top:0;bottom:0;display:none;z-index:10000}.sweet-alert{background-color:#fff;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;width:478px;padding:17px;border-radius:5px;text-align:center;position:fixed;left:50%;top:50%;margin-left:-256px;margin-top:-200px;overflow:hidden;display:none;z-index:99999}@media all and (max-width:540px){.sweet-alert{width:auto;margin-left:0;margin-right:0;left:15px;right:15px}}.sweet-alert h2{color:#575757;font-size:30px;text-align:center;font-weight:600;text-transform:none;position:relative;margin:25px 0;padding:0;line-height:40px;display:block}.sweet-alert p{color:#797979;font-size:16px;font-weight:300;position:relative;text-align:inherit;float:none;margin:0;padding:0;line-height:normal}.sweet-alert button{background-color:#AEDEF4;color:#fff;border:none;box-shadow:none;font-size:17px;font-weight:500;-webkit-border-radius:4px;border-radius:5px;padding:10px 32px;margin:26px 5px 0;cursor:pointer}.sweet-alert button:focus{outline:0;box-shadow:0 0 2px rgba(128,179,235,.5),inset 0 0 0 1px rgba(0,0,0,.05)}.sweet-alert button:hover{background-color:#a1d9f2}.sweet-alert button:active{background-color:#81ccee}.sweet-alert button.cancel{background-color:#D0D0D0}.sweet-alert button.cancel:hover{background-color:#c8c8c8}.sweet-alert button.cancel:active{background-color:#b6b6b6}.sweet-alert button.cancel:focus{box-shadow:rgba(197,205,211,.8) 0 0 2px,rgba(0,0,0,.0470588) 0 0 0 1px inset!important}.sweet-alert button::-moz-focus-inner{border:0}.sweet-alert[data-has-cancel-button=false] button{box-shadow:none!important}.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false]{padding-bottom:40px}.sweet-alert .sa-icon{width:80px;height:80px;border:4px solid gray;-webkit-border-radius:40px;border-radius:50%;margin:20px auto;padding:0;position:relative;box-sizing:content-box}.sweet-alert .sa-icon.sa-error{border-color:#F27474}.sweet-alert .sa-icon.sa-error .sa-x-mark{position:relative;display:block}.sweet-alert .sa-icon.sa-error .sa-line{position:absolute;height:5px;width:47px;background-color:#F27474;display:block;top:37px;border-radius:2px}.sweet-alert .sa-icon.sa-error .sa-line.sa-left{-webkit-transform:rotate(45deg);transform:rotate(45deg);left:17px}.sweet-alert .sa-icon.sa-error .sa-line.sa-right{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);right:16px}.sweet-alert .sa-icon.sa-warning{border-color:#F8BB86}.sweet-alert .sa-icon.sa-warning .sa-body{position:absolute;width:5px;height:47px;left:50%;top:10px;-webkit-border-radius:2px;border-radius:2px;margin-left:-2px;background-color:#F8BB86}.sweet-alert .sa-icon.sa-warning .sa-dot{position:absolute;width:7px;height:7px;-webkit-border-radius:50%;border-radius:50%;margin-left:-3px;left:50%;bottom:10px;background-color:#F8BB86}.sweet-alert .sa-icon.sa-info{border-color:#C9DAE1}.sweet-alert .sa-icon.sa-info::before{content:"";position:absolute;width:5px;height:29px;left:50%;bottom:17px;border-radius:2px;margin-left:-2px;background-color:#C9DAE1}.sweet-alert .sa-icon.sa-info::after{content:"";position:absolute;width:7px;height:7px;border-radius:50%;margin-left:-3px;top:19px;background-color:#C9DAE1}.sweet-alert .sa-icon.sa-success{border-color:#A5DC86}.sweet-alert .sa-icon.sa-success::after,.sweet-alert .sa-icon.sa-success::before{content:'';position:absolute;width:60px;height:120px;background:#fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.sweet-alert .sa-icon.sa-success::before{-webkit-border-radius:120px 0 0 120px;border-radius:120px 0 0 120px;top:-7px;left:-33px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:60px 60px;transform-origin:60px 60px}.sweet-alert .sa-icon.sa-success::after{-webkit-border-radius:0 120px 120px 0;border-radius:0 120px 120px 0;top:-11px;left:30px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:0 60px;transform-origin:0 60px}.sweet-alert .sa-icon.sa-success .sa-placeholder{width:80px;height:80px;border:4px solid rgba(165,220,134,.2);-webkit-border-radius:40px;border-radius:50%;box-sizing:content-box;position:absolute;left:-4px;top:-4px;z-index:2}.sweet-alert .sa-icon.sa-success .sa-fix{width:5px;height:90px;background-color:#fff;position:absolute;left:28px;top:8px;z-index:1;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.sweet-alert .sa-icon.sa-success .sa-line{height:5px;background-color:#A5DC86;display:block;border-radius:2px;position:absolute;z-index:2}.sweet-alert .sa-icon.sa-success .sa-line.sa-tip{width:25px;left:14px;top:46px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.sweet-alert .sa-icon.sa-success .sa-line.sa-long{width:47px;right:8px;top:38px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.sweet-alert .sa-icon.sa-custom{background-size:contain;border-radius:0;border:none;background-position:center center;background-repeat:no-repeat}@-webkit-keyframes showSweetAlert{0%{transform:scale(.7);-webkit-transform:scale(.7)}45%{transform:scale(1.05);-webkit-transform:scale(1.05)}80%{transform:scale(.95);-webkit-tranform:scale(.95)}100%{transform:scale(1);-webkit-transform:scale(1)}}@keyframes showSweetAlert{0%{transform:scale(.7);-webkit-transform:scale(.7)}45%{transform:scale(1.05);-webkit-transform:scale(1.05)}80%{transform:scale(.95);-webkit-tranform:scale(.95)}100%{transform:scale(1);-webkit-transform:scale(1)}}@-webkit-keyframes hideSweetAlert{0%{transform:scale(1);-webkit-transform:scale(1)}100%{transform:scale(.5);-webkit-transform:scale(.5)}}@keyframes hideSweetAlert{0%{transform:scale(1);-webkit-transform:scale(1)}100%{transform:scale(.5);-webkit-transform:scale(.5)}}.showSweetAlert{-webkit-animation:showSweetAlert .3s;animation:showSweetAlert .3s}.showSweetAlert[data-animation=none]{-webkit-animation:none;animation:none}.hideSweetAlert{-webkit-animation:hideSweetAlert .2s;animation:hideSweetAlert .2s}.hideSweetAlert[data-animation=none]{-webkit-animation:none;animation:none}@-webkit-keyframes animateSuccessTip{0%,54%{width:0;left:1px;top:19px}70%{width:50px;left:-8px;top:37px}84%{width:17px;left:21px;top:48px}100%{width:25px;left:14px;top:45px}}@keyframes animateSuccessTip{0%,54%{width:0;left:1px;top:19px}70%{width:50px;left:-8px;top:37px}84%{width:17px;left:21px;top:48px}100%{width:25px;left:14px;top:45px}}@-webkit-keyframes animateSuccessLong{0%,65%{width:0;right:46px;top:54px}84%{width:55px;right:0;top:35px}100%{width:47px;right:8px;top:38px}}@keyframes animateSuccessLong{0%,65%{width:0;right:46px;top:54px}84%{width:55px;right:0;top:35px}100%{width:47px;right:8px;top:38px}}@-webkit-keyframes rotatePlaceholder{0%,5%{transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}100%,12%{transform:rotate(-405deg);-webkit-transform:rotate(-405deg)}}@keyframes rotatePlaceholder{0%,5%{transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}100%,12%{transform:rotate(-405deg);-webkit-transform:rotate(-405deg)}}.animateSuccessTip{-webkit-animation:animateSuccessTip .75s;animation:animateSuccessTip .75s}.animateSuccessLong{-webkit-animation:animateSuccessLong .75s;animation:animateSuccessLong .75s}.sa-icon.sa-success.animate::after{-webkit-animation:rotatePlaceholder 4.25s ease-in;animation:rotatePlaceholder 4.25s ease-in}@-webkit-keyframes animateErrorIcon{0%{transform:rotateX(100deg);-webkit-transform:rotateX(100deg);opacity:0}100%{transform:rotateX(0deg);-webkit-transform:rotateX(0deg);opacity:1}}@keyframes animateErrorIcon{0%{transform:rotateX(100deg);-webkit-transform:rotateX(100deg);opacity:0}100%{transform:rotateX(0deg);-webkit-transform:rotateX(0deg);opacity:1}}.animateErrorIcon{-webkit-animation:animateErrorIcon .5s;animation:animateErrorIcon .5s}@-webkit-keyframes animateXMark{0%,50%{transform:scale(.4);-webkit-transform:scale(.4);margin-top:26px;opacity:0}80%{transform:scale(1.15);-webkit-transform:scale(1.15);margin-top:-6px}100%{transform:scale(1);-webkit-transform:scale(1);margin-top:0;opacity:1}}@keyframes animateXMark{0%,50%{transform:scale(.4);-webkit-transform:scale(.4);margin-top:26px;opacity:0}80%{transform:scale(1.15);-webkit-transform:scale(1.15);margin-top:-6px}100%{transform:scale(1);-webkit-transform:scale(1);margin-top:0;opacity:1}}.animateXMark{-webkit-animation:animateXMark .5s;animation:animateXMark .5s}@-webkit-keyframes pulseWarning{0%{border-color:#F8D486}100%{border-color:#F8BB86}}@keyframes pulseWarning{0%{border-color:#F8D486}100%{border-color:#F8BB86}}.pulseWarning{-webkit-animation:pulseWarning .75s infinite alternate;animation:pulseWarning .75s infinite alternate}@-webkit-keyframes pulseWarningIns{0%{background-color:#F8D486}100%{background-color:#F8BB86}}@keyframes pulseWarningIns{0%{background-color:#F8D486}100%{background-color:#F8BB86}}.pulseWarningIns{-webkit-animation:pulseWarningIns .75s infinite alternate;animation:pulseWarningIns .75s infinite alternate}
